{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Travel Info Search</title>
</head>
<body>
<div class="header" id="header">
    <h1>Travel info search</h1>
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="query">
        <input type="submit" value="GO!">
    </form>
</div>
{% block results %}
{% endblock %}
</body>
</html>