<div class="pagination">
    {% if matches.page_num > 1 %}
        <a class="nav-step" href="{% url 'search' query 1 %}">first</a>
        <a class="nav-step" href="{% url 'search' query matches.page_num|add:'-1' %}">
            {{ matches.page_num|add:'-1' }}</a>
    {% endif %}

    <span class="nav-current">{{ matches.page_num }} / {{ matches.page_count }}</span>

    {% if not matches.is_last_page %}
        <a class="nav-step" href="{% url 'search' query matches.page_num|add:'1' %}">
            {{ matches.page_num|add:'1' }}</a>
        <a class="nav-step" href="{% url 'search' query matches.page_count %}">last</a>
    {% endif %}

</div>