{% extends 'index.html' %}

{% block results %}
<h3>Results for: {{ query }}</h3>
<hr>
{% if matches.results %}
{% include 'navigation.html' %}
{% else %}
<h3>No results for your query :(</h3>
{% endif %}
<div class="results">
    {% for match in matches.results %}
    <div class="result-card">
        <h4><a href="{% url 'result' query match.docid %}">{{ match.title}}</a></h4>
        <p>{{match.preview}}</p>
        <p class="result-add-information">ID {{ match.docid }} score: {{ match.rank }}</p>
    </div>
    {% endfor %}
</div>
{% if matches.results %}
{% include 'navigation.html' %}
{% endif %}
{% endblock %}