* {
    font-family: sans-serif;
    margin-bottom: 15px;
}

.result-card {
    border: 3px solid #ccc;
    /*box-shadow: 3px 3px 4px silver;*/
    margin: 30px 120px 30px 20px;
    padding: 10px;
    /* background: lightgray; */
}

p.result-add-information {
    font-size: 8pt;
    color: silver;
}

.results {
    /*animation-name: fadein;
    animation-duration: 5s;*/
}

.header {
    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input[type=text] {
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 8px 0px;
  cursor: pointer;
}

hr {
    border-top: 3px solid #ccc;
    margin-bottom: 30px;
}

.nav-current {
    background-color: #4CAF50;
    border: 3px solid #4CAF50;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0px;
}

.nav-step {
    border: 3px solid #ccc;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0px;
}